body{
    margin: 0;
    padding: 0;
}

.main_content{
    width: calc(1024px - 4px);
    margin: 0 auto;
    padding: 2px;
    background: linear-gradient(180deg, #DDFFDD, #FFFFFF, #DDFFDD);
}

.menu{
    width: calc(100% - 10px);
    margin: 0;
    padding: 5px;
    background: linear-gradient(180deg, #FFFFFF, #DDDDDD);
    height: 34px;
}

.footer{
    margin: 0;
    height: calc(50px - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    background: linear-gradient(0deg, #FFFFFF, #DDDDDD);
}

.header{
    width: calc(1024px - 40px);
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(90deg, #FFFFDD, #FFFFFF, #FFFFDD);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.wrapper{
    margin-bottom: 0;
}

.menuitem{
    margin: 2px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #CCCCCC;
}

a{
    text-decoration: none;
    color: black;
}